@media (max-width:991px){

}
@media (max-width:768px){
.ban-slider .slide{
height: 310px;
}
#hero .carousel-container, .banner_about .banner-text, .ban-slider .banner-text {    top: 26px;    padding: 42px;}
#hero h2, .banner_about .banner-text h1, .ban-slider .banner-text h1 {font-size: 21px;}
.flip > .front, .flip > .back{height: 292px;    padding: 2em 1em;}
.journey_main{
    display: block;
}
.quotewrapper{display: block;}
.journey_main .journey-heading{padding-bottom: 80px ;}  
.about-page-img{display: none;}  
.vision-row{width: 50%;flex-direction: column-reverse; box-shadow: none; margin: 5px;}
.vision-row:last-child{flex-direction: column;}
.vision-row .box2{box-shadow: none; width: 120px ; height: 120px; margin: auto;}
.vision-row .box2:nth-child(1){box-shadow: none;}
.vision-row .box1{text-align: center; padding: 20px;}
.vision_wrap{display: flex;}
}
@media(max-width:520px){

}
@media(max-width:414px){

}